body {
    font-family: Helvetica Neue, Arial, sans-serif;
    text-align: center;
    background-image: url(https://marcus20rcb.github.io/background.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-attachement: fixed;
  }
  
  .wrapper {
    max-width: 400px;
    margin: 50px auto;
  }
  
  h1 {
    font-weight: 200;
    font-size: 2em;
    margin: 0 0 0.1em 0;
  }
  
  h2 {
    font-weight: 200;
    font-size: 0.9em;
    margin: 0 0 50px;
    color: #999;
  }
  
  a {
    margin-top: 50px;
    display: block;
    color: #3e95cd;
  }
  header .container{
    height: 100%;
    display: flexbox;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    padding-bottom: 20px;
  }
  header nav a{
    text-decoration:none;
    color:#3e95cd;
    margin-right: 10px;
  }
  header nav a:hover{
    color:#fff;
  }

  .logo {
    max-width: 400px;
    max-height: 400px;
  }